<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ab5a871c-cdb2-45d8-b573-0a68fc9f410a/resourceGroups/Services/providers/Microsoft.Web/sites/LogisticsService20180425040234</ResourceId>
    <ResourceGroup>Services</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://logisticsservice20180425040234.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>logisticsservice20180425040234.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LogisticsService20180425040234</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LogisticsService20180425040234</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LogisticsDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:databaseser.database.windows.net,1433;Initial Catalog=LogisticsDB;User ID=pmpetch555;Password=Hisoka08031" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LogisticsService.Models.LogisticsDBEntities, LogisticsService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LogisticsServiceContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:databaseser.database.windows.net,1433;Initial Catalog=LogisticsDB;User ID=pmpetch555;Password=Hisoka08031" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|LogisticsServiceContext-20180427135529.mdf;Initial Catalog=LogisticsServiceContext-20180427135529;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LogisticsServiceContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=LogisticsServiceContext-20180427135529; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|LogisticsServiceContext-20180427135529.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="LogisticsServiceContext-Web.config Connection String">
      <ParameterValue>data source=tcp:databaseser.database.windows.net,1433;initial catalog=LogisticsDB;user id=pmpetch555;password=Hisoka08031;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="LogisticsDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:databaseser.database.windows.net,1433;Initial Catalog=LogisticsDB;User ID=pmpetch555;Password=Hisoka08031"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>